@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

html,
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex {
    display: flex;
}

/*Estilo do Header*/
.container-header {
    width: 100%;
    background: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px #c9c8c898;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding-bottom: 10px;
}


.container-header .container-promo {
    width: 100%;
    background: #005cff;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 30px;
}

.container-header .container-promo span {
    font-family: 'Nunito Sans', sans-serif;
    width: fit-content;
    height: fit-content;
    font-size: 0.87rem;
    line-height: 22px;
    gap: 5px;
}

.container-header .container-promo .fundo {
    background: #6220c1;
    width: 63px;
    text-align: center;
    padding: 1px;
    border-radius: 4px;
    font-weight: 700;
}

.container-header .container-promo .italico {
    font-style: italic;
}

.container-header .container-search {
    width: 80%;
    height: 118px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #ffffff;
    padding: 10px;
}

.container-header .container-search>.flex {
    flex-direction: column;
    width: 90%;
    gap: 20px;
}

.container-header .container-search>.flex>div,
.container-header .container-search>.flex>menu {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container-header .container-search>.flex>menu {
    height: 58px;
}

.container-header .container-search>.flex .logo {
    width: 9.563rem;
    height: 27.5px;
}

.container-header .container-search>.flex .flex-logo {
    gap: 6.25rem;
    align-items: center;
}

.container-header .container-search .search-bar {
    width: 37.125rem;
    border: 2px solid #dfdfdf;
    padding-left: 10px;
    border-radius: 10px;
}

.container-header .container-search .search-bar input {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 0.87rem;
    font-weight: 600;

}

.container-header .container-search .search-bar input::placeholder {
    color: #000;
    font-size: 0.87rem;
    font-weight: 600;
}

.container-header .container-search .search-bar button {
    width: 10%;
    border: none;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.container-header .container-search .user {
    height: 30px;
    align-items: center;
    gap: 20px;
}

.container-header .container-search .user>div {
    align-items: center;
    gap: 10px;
}

.container-header .container-search .user>div img {
    height: 30px;
}

.container-header .container-search .user .carrinho {
    position: relative;
    display: flex;

    height: 100%;
    width: 2.5rem;

}


.container-header .container-search .user .carrinho img,
.container-header .container-search .user .carrinho p {
    position: absolute;

}

.container-header .container-search .user .carrinho p {
    z-index: 1;
    top: -10px;
    right: 0;
    background: #005cff;
    width: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}

.container-header .container-search .container-menu {
    width: 80%;
}

.container-header .container-search .container-menu .dropdown-menu-categorias .flex {
    gap: 10px;
}

.container-header .container-search .container-menu .dropdown-menu-categorias img {
    object-fit: contain;
}

/*Fim do Estilo do Header*/

/*Estilo do Banner*/

.container-principal {
    padding-top: 148px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.container-principal .banner {
    background: #E7E7EA;
    justify-content: center;
    width: 100%;
}

.container-principal .banner .banner-images {
    width: 80%;
    position: relative;
    margin: auto;
}

.container-principal .banner .banner-images img:first-child {
    margin-left: 5%;
}

.container-principal .banner .banner-images img:last-child {
    width: 36rem;
    height: 50%;
    top: 27%;
    right: 9%;
    position: absolute;
}

.container-lancamentos {
    width: 80%;
    margin: 50px auto;
    flex-direction: column;
    align-items: center;
}

.container-lancamentos>div:first-child {
    width: 90%;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.container-lancamentos div:first-child>a {
    text-decoration: none;
    color: #303030;
    font-size: 0.87rem;
    font-weight: 700;
}

.container-lancamentos div:first-child>a:hover {
    text-decoration: underline;
    color: #005cff;
}

/* Fim do Estilo do Banner */

/* Estilo dos Produtos e Informações */

.container-produto-esquerdo,
.container-produto-direito {
    width: 100%;
}

.container-produto-esquerdo>.flex,
.container-produto-direito .flex {
    width: 80%;
    justify-self: center;
    align-items: center;
    justify-content: space-evenly;
}
.container-produto-direito .flex {
    color: #4f4f4f;
}

.container-produto-esquerdo>.flex .info-produto {
    flex-direction: column;
    height: 46.688rem;
    width: 30.4rem;
    object-fit: contain;
    justify-content: center;
}

.container-produto-esquerdo .flex .produto-imagem {
    background: #c2c2c2;
    width: 40.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-produto-esquerdo .info-produto {
    font-size: 18px;
    gap: 30px;
}

.container-produto-direito>.flex {
    gap: 30px;
}

.container-produto-direito>.flex>div {
    flex-direction: column;
    gap: 30px;
}

.container-produto-direito>.flex div:last-child {
    flex-direction: column;
    gap: 30px;
}

.container-produto-direito>.flex div:last-child .info-produto {
    width: 29.75rem;
    gap: 20px;
}

.container-produto-direito {
    background: #DEDEDE;
    padding: 40px 0;
    margin: 70px 0;
}

/* Fim do Estilo dos Produtos e Informações */

/* Estilo do Segundo Banner */

.segundo-banner {
    position: relative;
    width: 100%;
}

.segundo-banner img {
    width: 100%;
}

.segundo-banner div {
    position: absolute;
    z-index: 99;
    color: #fff;
    background: #005cff;
    top: 40%;
    width: 100%;
    height: 132px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    font-weight: 400;
}

/* Fim do Estilo do Segundo Banner */

/* Estido do Form de Cadastro */

.form-cadastro {
    margin-top: 60px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.form-cadastro>.flex:last-child {
    flex-direction: column;
    width: 70%;
    height: 176px;
    justify-content: space-evenly;
    align-items: center;
    background: #DEDEDE;
    border-radius: 8px;
}

.form-cadastro>div {
    gap: 9px;
    font-size: 20px;
}

.form-cadastro>.flex>div {
    gap: 6px;
    font-size: 20px;
    font-weight: 700;
}

.form-cadastro>div h3:last-child {
    color: #005cff;
}

.form-cadastro>.flex>form {
    width: 100%;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.form-cadastro>.flex>form .input-texto {
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background: #fff;
    height: 48px;
    width: 17.5rem;
}

.form-cadastro>.flex>form div {
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.form-cadastro>.flex>form div input {
    appearance: none;
    background: #fff;
    width: 1rem;
    height: 1rem;
    border-radius: 4px;
}

.form-cadastro>.flex>form .input-texto::placeholder{
    color: #303030;
}
.form-cadastro>.flex>form div label {
    color: #656565;
}

.form-cadastro>.flex>form button {
    height: 48px;
    width: 7.5rem;
    background: #005cff;
    border: none;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.form-cadastro>.flex>form button:hover {
    background: #00399b;
}

/* Fim do Estido do Form de Cadastro */

.container-footer {
    width: 100%;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container-footer .container-contatos {
    width: 100%;
    background: #f5f5f5;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 24.12rem;
}

.container-footer .container-contatos .container-infos {
    width: 80%;
    justify-content: space-evenly;
}

.container-footer .container-contatos .container-infos .rede-social {
    flex-direction: column;
    height: 5.8rem;
    justify-content: space-between;
}

.container-footer .container-contatos .container-infos .rede-social div img {
    height: auto;
}

.container-footer .container-contatos .container-infos .rede-social div {
    justify-content: space-between;
}

.container-footer .container-contatos .container-infos .info,
.container-footer .container-contatos .container-infos .info div {
    flex-direction: column;
    gap: 10px;
}

.container-footer .container-contatos .container-infos .info h5 {
    font-style: bold;
}

.container-footer .container-contatos .container-infos .info h5,
.container-footer .container-contatos .container-infos .info div h5 {
    color: #303030;
    font-weight: 700;
    font-style: bold;
}

.container-footer .container-contatos .container-pagamentos {
    gap: 40px;
}

.container-footer .container-contatos .container-pagamentos img {
    object-fit: contain;
}

.container-footer .more-info {
    width: 60%;
    height: 211px;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    font-size: 0.8rem;
}

.container-footer .more-info .logos-footer {
    justify-content: center;
    gap: 30px;
}

.container-footer .more-info .logos-footer div {
    width: fit-content;
    align-items: center;
    gap: 30px;
}

@media (max-width: 1630px){

    
    .form-cadastro>.flex:last-child {
        width: 90%;
    }
    .form-cadastro>div{
        gap: 10px;
    }
    
    .form-cadastro>.flex>form div label {
        font-size: 14px;
    }
    
    .form-cadastro>.flex>form button {
        height: 38px;
        width: 5.5rem;
        font-size: 14px;
    }
}

@media (max-width: 1490px) {
    .container-header .container-search .user>div {
        display: none;
    }
    .container-header .container-search>.flex .flex-logo {
        gap: 2.25rem;
        width: auto;
    }

    .dropdown-menu-categorias {
        margin: auto;
    }

    .menu-categorias {
        display: none;
    }

    .container-produto-esquerdo>.flex,
    .container-produto-direito>.flex {
        width: 100%;
    }

    .container-produto-esquerdo .flex .produto-imagem {
        width: fit-content;
    }

    .container-produto-esquerdo .flex .produto-imagem img,
    .container-produto-direito .flex .produto-imagem img    
    {
        width: 90%;
        height: 90%;
    }
    
}

@media (max-width: 1180px) {
    .container-header .container-search{
        width: 100%;
    }
    .container-header .container-search .flex .flex{
        width: 100%;
        justify-content: space-evenly;
    }
    .container-header .container-search>.flex .flex-logo .search-bar{
        width: 100%;
    }
    .container-header .container-search>.flex .flex-logo .search-bar img{
        width: 0.8rem;
    }
    .container-header .container-search>.flex .flex-logo .search-bar input{
        width: 20rem;
    }
    .container-header .container-search>.flex .flex-logo .search-bar input::placeholder{
        font-size: 0.7rem;
    }
    .container-produto-esquerdo .flex{
        font-size: 0.8rem;
        gap: 10px;
        height: 300px;
        padding: 10px;
    }
    .container-produto-direito .flex{
        font-size: 0.8rem;
        padding: 10px;
    }

    .container-produto-direito .flex .info-produto img{
        width: 4rem;
        height: 4rem;
    }
    .container-produto-esquerdo>.flex .produto-imagem{
        width: fit-content;
        height: fit-content;
    }
    .container-produto-esquerdo .flex .produto-imagem img{
        width: 70%;
        height: 70%;
    }
    .segundo-banner div {
        height: 100px;
        font-size: 1.2rem;
    }

    /* formulario */
    
    .form-cadastro>.flex:last-child {
        width: 98%;
        height: 166px;
    }
    
    .form-cadastro>div {
        gap: 10px;
        font-size: 20px;
        font-weight: 700;
    }
    
    .form-cadastro>div h3:last-child {
        color: #005cff;
    }
    
    .form-cadastro>.flex>form div label {
        font-size: 12px;
    }
    
    /* Fim do Estido do Form de Cadastro */
}
@media (max-width: 1050px) {
    
    .form-cadastro>.flex>form {
        gap: 20px;
    }
    
    .form-cadastro>.flex>form .input-texto {
        height: 28px;
        width: 13.5rem;
    }
    
    .form-cadastro>.flex>form div label {
        font-size: 12px;
    }
    
    .form-cadastro>.flex>form button {
        height: 32px;
        width: 5.5rem;
        font-size: 12px;
    }
    
    /* Fim do Estido do Form de Cadastro */
    
    /* footer */

    .container-footer .container-contatos {
        gap: 3rem;
        height: auto;
        padding: 3rem 0rem;
    }
    
    .container-footer .container-contatos .container-infos {
        width: 90%;
        justify-content: space-evenly;
    } 
    
}
@media (max-width: 900px) {
    .form-cadastro>.flex:last-child{
        height: fit-content;
    }
    .form-cadastro>.flex{
        height: auto;
        padding: 2rem;
    }

    .form-cadastro>.flex>form{
        flex-direction: column;
    }

    .form-cadastro>.flex>form .input-texto {
        height: 28px;
        width: 17.5rem;
    }
    
    /* Fim do Estido do Form de Cadastro */

    /* footer */
    
    .container-footer .container-contatos {
        height: fit-content;
    }
    
    .container-footer .container-contatos .container-infos {
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        gap: 2rem;
        width: fit-content;
    } 
    .container-footer .container-contatos .container-infos .rede-social{
        align-items: center;
        height: fit-content;
        gap: 1.5rem;
    }

    .container-footer .container-contatos .container-infos .rede-social .flex{
        justify-content: space-evenly;
        width: 100%;
    }
    .container-footer .container-contatos .container-pagamentos{
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
    }
    
}
@media (max-width: 800px){
    
    .container-header .container-promo{
        padding: 2.5rem 1rem;
    }    
    .container-header .container-promo .flex{
        flex-wrap: wrap;
    }
    .container-header .container-promo .fundo{
        width: 63px;
        height: 24px;
    }
    .container-header .container-search>.flex .flex-logo .search-bar input{
        width: 13rem;
    }
    .container-principal .banner .banner-images {
        width: 100%;
        position: relative;
        margin: auto;
    }
    
    .container-principal .banner .banner-images img:first-child {
        margin-left: 5%;
        width: 50%;
    }
    
    .container-principal .banner .banner-images img:last-child {
        width: 50%;
        height: 50%;
        top: 27%;
        right: 9%;
        position: absolute;
    }
    .segundo-banner div {
        height: 70px;
        font-size: 0.9rem;
    }
   
    .container-produto-esquerdo{
        /* overflow: scroll; */
        margin: 2rem 0rem;
    }
    .container-footer .more-info{
        padding: 1rem 0rem;
    }
}